# System
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Desktop.ini
Thumbs.db
ehthumbs.db

# IDEs
nbproject/
.idea
*.iml
*.sublime-project
*.sublime-workspace

# ENVs
node_modules
bower_components
.env

# Project
!/dist/robot.txt
/build/
/tmp/
/test/assets/css/*
package-lock.json
.parcel-cache
